name: workflow
on: [push]
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tidy clang-format cmake pybind11-dev
          python -m pip install --upgrade pip
          pip install -e .

      - name: Configure cmake
        run: |
          cmake -S src/solver -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Clang-format
        run: |
          find solver \( -name "*.cpp" -o -name "*.hpp" \) -not -path "src/solver/third_party/*" | xargs clang-format --dry-run --Werror -i
          git diff --exit-code

      - name: Clang-tidy
        run: |
          clang-tidy src/solver/*.cpp -p build

      - name: Black
        run: |
          black --check src/gui

      - name: Flake8
        run: |
          flake8 src/gui
      