name: workflow
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tidy clang-format cmake libeigen3-dev
          pip install "pybind11[global]"
          pipx install poetry==2.2.1
          poetry install

      - name: Configure cmake
        run: |
          cmake -S solver -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Check clang-format
        run: |
          find solver -name '*.cpp' -o -name '*.hpp' | xargs clang-format -style=file -i
          git diff --exit-code

      - name: Run clang-tidy
        run: |
          clang-tidy solver/*.cpp -p build
      