name: workflow
on: [push]
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          sudo apt-get update
          # sudo apt-get install -y clang clang-tidy clang-format cmake
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install -e ./solver

      # - name: Configure cmake
        # run: |
          # cmake -S solver -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      # - name: Clang-format
        # run: |
          # find solver -name '*.cpp' -o -name '*.hpp' | xargs clang-format --dry-run --Werror -style=file -i
          # git diff --exit-code

      # - name: Clang-tidy
        # run: |
          # clang-tidy solver/*.cpp -p build

      - name: Black
        run: |
          poetry run black --check .

      - name: Flake8
        run: |
          poetry run flake8 .
      