name: workflow
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tidy clang-format cmake

      - name: configure cmake
        run: |
          cmake -S solver -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: check clang-format
        run: |
          find solver -name '*.cpp' -o -name '*.hpp' | xargs clang-format -style=file -i
          git diff --exit-code

      - name: Run clang-tidy
        run: |
          clang-tidy solver/*.cpp -p build
      